body{
    font-family: 'Poppins', sans-serif;
}
.main-wrapper{
    background-image: linear-gradient(to right bottom, #dd5e89, #e97584, #f18c84, #f5a48a, #f7bb97);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}
.hero-wrapper{
    padding-top: 80px;
}
.brd {
    border: 2px solid #797979;
    padding: 50px;
    border-style: dashed;
    border-radius: 15px;
}
.brd p{
    color: #797979;
}
.team{
    background: linear-gradient(to bottom right, rgba(248, 212, 83, 0.9), rgba(255, 93, 91, 0.9)), url(../img/group.jpg);    
    background-position: center;
    /* clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%); */
    background-size: cover;        
}

.serviceBox{
    font-family: 'Cabin', sans-serif;
    text-align: center;
    padding: 5px 0 0;
    position: relative;
    z-index: 1;
}
.serviceBox:before{
    content: '';
    background: linear-gradient(to top,#ff0a0b,#ff4041);
    height: 140px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 40px;
    z-index: -1;
}
.serviceBox .service-icon{
    color: #ff0a0b;
    background: #efefef;
    font-size: 45px;
    line-height: 120px;
    width: 120px;
    height: 120px;
    margin: 0 auto 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3),-1px -5px 1px 1px #fff;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.serviceBox:hover .service-icon{ transform: rotateY(360deg); }
.serviceBox .service-icon:before{
    content: "";
    background: #fff;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
    transform: translateX(-50%)translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}
.serviceBox .service-content{
    background-color: #fff;
    padding: 20px 15px 15px;
    border-radius: 0 0 15px 15px;
}
.serviceBox .title{
    color: #ff0a0b;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 10px;
}
.serviceBox .description{
    color: #888;
    font-size: 15px;
    line-height: 25px;
}
.serviceBox.brown:before{ background: linear-gradient(to top,#742b3e,#c04767); }
.serviceBox.brown .service-icon,
.serviceBox.brown .title{
    color: #742b3e;
}
.serviceBox.green:before{ background: linear-gradient(to top,#2c970d,#80f80d); }
.serviceBox.green .service-icon,
.serviceBox.green .title{
    color: #2c970d;
}
.serviceBox.purple:before{ background: linear-gradient(to top,#490646,#8b0a82); }
.serviceBox.purple .service-icon,
.serviceBox.purple .title{
    color: #490646;
}
@media only screen and (max-width:990px){
    .serviceBox{ margin: 0 0 30px; }
}


.top-feature{
    background-image: url(../img/device-macbook-2.png);
    background-size: 65%;
    background-position: -200px center;
    background-repeat: no-repeat;
    height: 75vh;
}
.pd-100{
    padding-top: 100px;
}
